version: "3.1"

services:
    db:
        image: postgres:16-alpine
        restart: always
        environment:
            POSTGRES_PASSWORD: my-secret-pw
            POSTGRES_DB: webauthn_db
        ports:
            - "5433:5432"
        volumes:
            - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    postgres_data: